/netbeans/curso-java-basico/nbproject/private/
/netbeans/curso-java-basico/build/
/eclipse/.metadata/
/eclipse/.metadata/.plugins/
eclipse/.metadata/.mylyn/tasks.xml.zip

eclipse/.metadata/.mylyn/.tasks.xml.zip

eclipse/.metadata/.log

eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/curso-java-basico/.markers

*.dat

eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/curso-java-basico/org.eclipse.jdt.core/state.dat

eclipse/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

eclipse/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

*.index

*.prefs

*.xml

eclipse/.metadata/.log

*.zip

*.zip
