/netbeans/curso-java-basico/nbproject/private/
/netbeans/curso-java-basico/build/
/eclipse/.metadata/
/eclipse/.metadata/.plugins/
eclipse/.metadata/.mylyn/tasks.xml.zip

eclipse/.metadata/.mylyn/.tasks.xml.zip

eclipse/.metadata/.log

eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/curso-java-basico/.markers

*.dat

eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/curso-java-basico/org.eclipse.jdt.core/state.dat

eclipse/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

eclipse/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

*.index

*.prefs

*.xml

eclipse/.metadata/.log

*.zip

*.zip

*.xml

eclipse/.metadata/.log

*.zip

eclipse/.metadata/.mylyn/.tasks.xml.zip

eclipse/.metadata/.mylyn/tasks.xml.zip

eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/curso-java-basico/.markers

eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/curso-java-basico/org.eclipse.jdt.core/state.dat

eclipse/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index

eclipse/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs

eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs

eclipse/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml

eclipse/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi

eclipse/.metadata/.plugins/org.eclipse.jdt.core/794308934.index

eclipse/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

eclipse/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt

eclipse/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml

eclipse/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml

eclipse/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log

eclipse/.metadata/.plugins/org.eclipse.recommenders.rcp/v0.5-package-root-infos.json

eclipse/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml

eclipse/curso-java-basico/.settings/org.eclipse.core.resources.prefs

eclipse/curso-java-basico/.idea/.name

eclipse/curso-java-basico/curso-java-basico.iml

eclipse/RemoteSystemsTempFiles/.project

.metadata/.lock

.metadata/

.recommenders/

RemoteSystemsTempFiles/
